In [ ]:
p=Truex and structure

python syntax and structure

In [ ]:
print("hello,world")
x=10
y=5

hello,world

python is case sensitive

In [ ]:
name="rabi"
Name="rabu"

indentation matters

In [ ]:
if x > 0:
  print(" x is positive")
  print("inside if block")

 x is positive
inside if block

variables and data types

In [ ]:
# numeric types

In [ ]:
age = 25
height = 2.0
complex_num = 2+3j

# boolean type

In [ ]:
is_active = True
is_finished =False

string

In [ ]:
name ="rabiya"
message = "hello world"
multiline = """this is multiline comment"""

type checking

In [ ]:
print(type(age))
print(type(height))

NameError: name 'age' is not defined

type conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)
print(f"Original: ({str_number} (type: {type(str_number)})")
print(f"Integer: ({str_number} (type: {type(int_number)})")
print(f"Float: ({str_number} (type: {type(float_number)})")

Original: (123 (type: <class 'str'>)
Integer: (123 (type: <class 'int'>)
Float: (123 (type: <class 'float'>)

personal information

create variables for personal information

In [ ]:
first_name ="rabi"
last_name = "rubi"
age = 20
height = 5.8
is_student = True

print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"age: {age}")
substraction:print(f"height: {height} feet")
print(f"student: {is_student}" )

Name: rabi rubi
age: 20
height: 5.8 feet
student: True

age_str = str(age)
height_int = int(height)
print(f"age as string: {height_int}")

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"age as string: {height_int}")

age as string: 5

operators and basic operations

In [ ]:
a= 10
b = 20
print(f"Addition: {a}+{b}={a+b}")
print(f"substraction: {a}-{b}={a-b}")
print(f"multiplication: {a}*{b}={a*b}")
print(f"division: {a}/{b}={a/b}")
print(f"modulus: {a}%{b}={a%b}")

Addition: 10+20=30
substraction: 10-20=-10
multiplication: 10*20=200
division: 10/20=0.5
modulus: 10%20=10

order of operation
- p-parentheses
- E-exponents
- M-multiplication
- D-division
- A-addition
- S-substraction

In [ ]:
result = 2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

comparison operator

In [ ]:
x=5
y=10
print(f"{x}=={y}: {x==y}")

print(f"{x}!={y}:{x!=y}")
print(f"{x}>{y}:{x>y}")
print(f"{x}<{y}:{x<y}")
print(f"{x}<={y}:{x<=y}")
print(f"{x}>={y}:{x>=y}")

5==10: False
5!=10:True
5>10:False
5<10:True
5<=10:True
5>=10:False

string comparison

In [ ]:
name1 = "alice"
name2 = "bon"
print(f"'{name1} '<'{name2}'"{name1<name2}")

SyntaxError: unterminated string literal (detected at line 3) (ipython-input-3540862127.py, line 3)

logical operator

In [ ]:
p=True
q=False

print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f" not p :{not p}")

p and q:False
p or q:True
 not p :False

practical examples

In [ ]:
age=20
has_licence=True
can_drive=age >= 18 and has_licence
print(f"can drive: {can_drive}")

can drive: True

multiple conditions

In [ ]:
score=89
is_present=True
can_pass=score >=80 and is_present
print(f" can_pass:{can_pass}")

 can_pass:True

hands on exercise

In [ ]:
create a calculator that checks if a person qualifies for a loan

In [ ]:
age=25
annual_income=50000
credit_score=720
has_collateral=True

loan criteria

In [ ]:
mi_age=18
min_income=3000
min_credit_score=650

check qualifications

In [ ]:
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

NameError: name 'min_age' is not defined

Data structure

creating list

In [ ]:
fruits=["apple","banana","orange","grapes"]
numbers=[10,20,30,40,50]
mixed_data=[1,"hello",3,14,True]

list indexing(0-based)

In [ ]:

print(f"first fruits:{fruits[0]}")
print(f"last fruits:{fruits[0]}")
print(f"second to last:{fruits[-2]}")

first fruits:apple
last fruits:apple
second to last:orange

list slicing

In [ ]:
print(f"first 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2]}")
print(f"all except first:{fruits[1:1]}")

first 2 fruits:['apple', 'banana']
last 2 fruits:orange
all except first:[]

# list methods

In [ ]:
fruits.append("Kiwi")
fruits.insert(1,"Strawberry")
removed=fruits.pop()
print(f"updated list:{fruits}")
print(f"removed: {removed}")

updated list:['apple', 'Strawberry', 'banana', 'orange', 'grapes']
removed: Kiwi

# list operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'apple':{'apple in fruits'}")
print(f"index of 'banana':{fruits.index('banana')}")

length:5
contains 'apple':apple in fruits
index of 'banana':2

# Tuples

Tuples are immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,120,0)
person_info=("alice",25,"engineer",True)

Tuple unpacking

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

# Tuple methods

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"index of 'engineer' :{person_info.index('engineer')}")

count of 25:1
index of 'engineer' :2

# why use Tuples

- immutable
- slightly faster than list
- good for fixed collections

Dictionaries

In [ ]:
person ={
    "name":"alicejohnson",
    "age":20,
    "profession":"software engineer",
    "salary":75000,
    "skills":{"python","javascript","sql"}

}